@import "../main/vars";

.modal__footer {
  height: 90px;
  background: $primerycolor-white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  padding: 10px 40px;
  color: $primerycolor-black;

  // display: flex;
  // align-items: center;
  // column-gap: 20px;
  .button + .button {
    margin-left: 20px;
  }
}
